


.mySwiper {
  background-color: rgba(255, 0, 0, 0);

  height: 500px;
  width: 150vh;
  position: relative;
}

.primary{
  height: 500px;
  width: 700px;
  position: relative;
  left: 50px;
}

.secundary1{
  height: 250px;
  width: 250px;
  position: relative;
  top: -500px;
  left: 760px;

}
.secundary2{
  height: 250px;
  width: 250px;
  position: relative;
  top: -490px;
  left: 760px;
  
}

.tertiary1{
  height: 250px;
  width: 250px;
  position: relative;
  top: -1000px;
  left: 1020px;

}


.tertiary2{
  height: 250px;
  width: 250px;
  position: relative;
  top: -990px;
  left: 1020px;

}